<div class="card-no-border">
  <section id="wrapper" class="login-register login-sidebar"
    style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
      <div class="card-body overflow-auto">
        <form class="form-horizontal form-material" id="loginform" (ngSubmit)="createUser()" autocomplete="off"
          [formGroup]="registerForm">
          <a href="javascript:void(0)" class="text-center db">
            <img width="180" height="50" src="../../../assets/images/logo-text.png" alt="Home" />
          </a>
          <h3 class="box-title m-t-40 m-b-0">Nuevo usuario</h3>

          <div class="form-group m-t-20">
            <div class="col-xs-12">
              <app-input-debounce [term]="termEmployee" (onEnter)="getEmployees($event)"
                (onDebounce)="custormerSerarch($event)" [placeholder]="'Buscar Empleado*'">
              </app-input-debounce>
              <div class="dropdown-search border" [hidden]="!showSearchesEmployee">
                <div *ngFor="let employee of searchedEmployees" (click)="selectEmployee(employee)"
                  class="cursor dropdown-search-items p-1">
                  {{employee.firstName}} {{employee.lastName}}
                </div>
                <p class="text-center p-p" *ngIf="searchedEmployees && searchedEmployees.length <= 0 && !isSearching">No
                  se encontro registro</p>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" type="text" placeholder="Usuario*" formControlName="userName">
            </div>
            <app-error-message-form [abstractControl]="registerForm.controls['userName'] " [controlName]="'Usuario'"></app-error-message-form>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" type="password" placeholder="Contraseña*" formControlName="password">
            </div>
            <app-error-message-form [abstractControl]="registerForm.controls['password'] " [controlName]="'Password'"></app-error-message-form>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" type="password" placeholder="Confirmar Contraseña*"
                formControlName="password2">
            </div>
            <app-error-message-form [abstractControl]="registerForm.controls['password2']"></app-error-message-form>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <select class="form-control" formControlName="role">
                <option value="" selected>Seleccione Un Rol*</option>
                <option value="ADMIN_ROLE" selected>Administrador</option>
                <option value="USER_ROLE">Usuario</option>
              </select>
            </div>
            <app-error-message-form [abstractControl]="registerForm.controls['role']"></app-error-message-form>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light"
                type="submit">Registrar</button>
            </div>
          </div>
          <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
              <a class="text-info m-l-5 cursor" (click)="goBack()"><b>Volver Atras</b></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
