<div class="logo-container">
  <img style="height: 40px" src="./assets/images/logo-text.png">
</div>

<table class="invoice-info-container">
  <tr>
    <td rowspan="2" class="client-name">
      Cliente: {{invoice.firstName}} {{invoice.lastName}}
    </td>
    <td>
      {{invoice.addressCustomer}}
    </td>
  </tr>
  <tr>
    <td>
      Santo Domingo, R.D.
    </td>
  </tr>
  <tr>
    <td>
      Fecha Factura: <strong>{{invoice.invoiceDate | date: 'dd/MM/YYYY'}}</strong>
    </td>
    <td>
      {{invoice.emailCustomer ? invoice.emailCustomer : '-'}}
    </td>
  </tr>
  <tr>
    <td>
      No. Factura: <strong>{{invoice.invoiceCode}}</strong>
    </td>
    <td></td>
  </tr>
</table>

<table class="line-items-container">
  <thead>
    <tr>
      <th>Detalle Del Vehículo</th>
      <th class="text-center">Periodo De Renta</th>
      <th class="text-right">Precio P/ Dia</th>
      <th class="text-center">Dias Renta</th>
      <th>Deposito</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>{{invoice.plate}} {{invoice.typeVehicle}}</span>
        <br>
        <span>{{invoice.brad}} {{invoice.model}} {{invoice.year}}</span>
      </td>
      <td class="text-center">
        <span>{{invoice.rentalStartDate | date: 'dd/MM/YYYY'}} - {{invoice.rentalEndDate | date: 'dd/MM/YYYY'}}</span>
      </td>
      <td class="text-right">${{invoice.pricePerDay}}</td>
      <td class="text-center">{{invoice.daysOfRent}}</td>
      <td >${{invoice.deposit}}</td>
  </tbody>
</table>

<table class="line-items-container has-bottom-border">
  <thead>
    <tr>
      <th colspan="3">Sub-Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="large total">${{invoice.amount}}</td>
    </tr>
  </tbody>
</table>

<div class="footer">
  <div class="footer-info">
    <span>{{invoice.companyName}} RNC: {{invoice.rnc}}</span> |
    <span>{{invoice.phone}}</span> |
    <span>{{invoice.email}}</span>
  </div>
  <div class="footer-thanks">
    <span>{{invoice.message}}</span>
  </div>
</div>
