<div class="d-flex m-b-20">
  <h4 class="mb-0">Direcciones</h4>
  <ng-container>
    <button type="button" class="btn btn-success btn-sm ml-auto" (click)="editOrNewAddress()">
      <i class="fa fa-plus"></i> Agregar
    </button>
  </ng-container>
</div>
<ng-container *ngIf="addresses && addresses.length === 0">
  <h4 class="mb-0 text-center">No Existen Registros</h4>
</ng-container>

<ng-container *ngIf="addresses && addresses.length > 0">
    <div >
    <div class="card">
        <div class="card-header">
          <h2 class="mb-0 d-flex align-items-center">
            <button class="btn btn-link btn-block text-left" type="button" (click)="collapsedAddress(isCollapsed)">
              <h6>Datalles</h6>
            </button>
          </h2>
        </div>
        <div class="card-body" id="collapseEvent" [ngClass]="{'scroll': !isCollapsed, '': isCollapsed}">

          <ng-container *ngIf="addresses.length">
            <ul class="list-group" [collapse]="!isCollapsed" [isAnimated]="true">
              <li class="list-group-item" *ngFor="let address of addresses; let i=index">
                <div class="d-flex align-items-center">
                  <h5>{{translateTypeAddress(address.type)}}</h5>
                  <div class="ml-auto">
                    <a class="f-z-1-5 cursor" data-toggle="tooltip" title="Editar" (click)="editOrNewAddress(address)">
                      <i class="fa fa-pencil-square-o text-inverse m-r-10"></i>
                    </a>
                    <a class="f-z-1-5 cursor" data-toggle="tooltip" title="Eliminar" (click)="deleteAddress(address)">
                      <i class="fa fa-trash-o text-inverse m-r-10"></i>
                    </a>
                  </div>
                </div>
                <ul class="font-weight-bold">
                  <li>
                    <div class="row">
                      <div class="col-md-10">
                        {{formatAddress(address)}}
                      </div>
                      <div class="col-md-2">
                        <i *ngIf="address.isPrimary" class="fa fa-star text-info f-s-20"></i>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
</ng-container>
