<section>
  <div class="col-md-12">
    <button class="has-arrow btn btn-link btn-block text-left px-0" aria-expanded="true" type="button"
      (click)="collapsedFilters()">
      <h5 class="mb-0">
        <i class="fa fa-filter" aria-hidden="true"></i>
        Filtros
      </h5>
    </button>
    <div class="card popup" id="collapseEvent" [isAnimated]="true" [collapse]="!isCollapseFilters">
      <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Póliza</label>
                <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filter.policy"
                  (keyup.enter)="filterValue()">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Compañia</label>
                <select class="form-control" [(ngModel)]="filter.companyId">
                  <option value="" selected disabled>Selecione</option>
                  <option *ngFor="let company of companies" [value]="company.company_id">
                    {{company.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Ramo</label>
                <select class="form-control" [(ngModel)]="filter.branch">
                  <option value="" selected disabled>Selecione</option>
                  <option *ngFor="let bran of branches; let i=index" [value]="bran">
                    {{bran | branch}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Estado</label>
                <select class="form-control" [(ngModel)]="filter.status">
                  <option value="" selected disabled>Selecione</option>
                  <option *ngFor="let s of status" [value]="s">
                    {{s | status}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Moneda</label>
                <select class="form-control" [(ngModel)]="filter.currency">
                  <option value="" selected disabled>Selecione*</option>
                  <option *ngFor="let currency of currencys" [value]="currency">
                    {{currency}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="text-right">
            <button class="btn btn-outline-primary m-r-10 btn-sm" (keyup)="filterValue()" (click)="filterValue()">Filtrar</button>
            <button class="btn btn-outline-secondary btn-sm" (click)="clearFilters()">Limpiar</button>
          </div>
      </div>
    </div>
  </div>
</section>
